nav{
    background-color:rgb(243, 233, 233);
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
    border: 2px solid grey;
    overflow: auto;
    
}
ul{
    list-style: none;
    padding: 5px;
    
}
a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:13px;
    

}
ul{
    border: 1px solid transparent;
}
ul:hover {
border-radius: 10px;
background-color:rgb(191, 191, 196);
}
.raya{
border-bottom: 1px solid rgb(134, 138, 138) ;
width: 150px;
left:10px;
position: relative;
margin-bottom: 5px;
}
i{
    padding-right: 10px;
}