.contenedor {
    width: 100%;
    padding-top: 10px;
    display: grid;
    grid-gap: 16px;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 90px 1000px;
    grid-template-areas: "header header header";
  }
  .header {
    background-color: #888;
    color: #fff;
    grid-column-start: header;
    grid-column-end: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
  }
  .logo {
    display: inline-flex;
    float: left;
    width: 80px;
  }
  .logo-2 {
    width: 100%;
  }
  .menu-hambugesa {
    display: none;
  }
  .main-menu {
    text-align: right;
    padding: 0;
    width: 50%;
  }
  .item-style {
    display: inline-block;
    padding: 0 10px;
    line-height: 40px;
    width: 29%;
    list-style: none;
    text-align: center;
    background-color: #888;
    font-size: 16px;
    cursor: pointer;
  }
  .item-style:hover {
    background-color: #bcc;
  }
  a {
    margin-top: 10px;
    color: #000;
    text-decoration: none;
    font-size: 14px;
  }
  .img-principal {
    background-color: #008b8b;
    color: #fff;
    grid-column-start: header;
    grid-column-end: header;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/icecube.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .article {
    display: grid;
    grid-template-rows: 220px;
  }
  .img-article {
    background-color: #404040;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-article-1 {
    background-image: url(../img/gru.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .img-article-2 {
    background-image: url(../img/2ARRRR.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .img-article-3 {
    background-image: url(../img/CALLEEEEE.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .img-article-4 {
    background-image: url(../img/OK.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .img-article-5 {
    background-image: url(../img/nuevooo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .img-article-6 {
    background-image: url(../img/microfonooo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  p {
    margin: 10px;
  }
  .header, .img-principal, .img-article {
    border-radius: 10px;
  }
  
  /* Tablet */
  @media screen and (max-width: 1250px) {
    .contenedor {
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "header header";
    }
    /* agregamos el icono de menu hambugesa */
    .menu-hambugesa {
      display: block;
      font-size: 30px;
      cursor: pointer;
    }
    /* Desaperesemos el menu */
    .main-menu {
      position: fixed;
      width: 100%;
      height: 126px;
      left: -103%;
      text-align: center;
      transition: all 1s;
    }
    /* Reaperesemos el menu */
    .main-menu-block {
      position: fixed;
      display: block;
      width: 100%;
      height: 126px;
      padding: 0;
      margin-top: 231px;
      background-color: rgba(48, 48, 48, 0.8);
      left: 0;
      transition: all 1s;
    }
    .item-style {
      display: block;
      width: 100%;
      background-color: transparent;
      border-bottom: 1px solid rgb(220, 220, 220);
    }
    a {
      color: #fff;
    }
  }
  
  /* Smartphone */
  @media screen and (max-width: 740px) {
    .contenedor {
      width: 100%;
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: "header";
    }
    .img-principal {
      background-image: url(../img/tu22.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }